h3 {
  margin-bottom: 2vw;
}

p {
  font: 10vw/1.0 'ABeeZee', sans-serif;
  margin-top: 5vw;
  margin-bottom: 2vw;
}

.inner {
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 100%;
}

#canvas1 {
  display: block;
  margin-top:0vw;
  margin-bottom: 2vw;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
  height: auto;
  border: 1px solid #c3c3c3;
	background-color: #EEEEEE;
}
