body {
	background-color: #89c9cc;
  font: 6vw/1.0 'ABeeZee', sans-serif;
}

p {
  text-align: center;
  margin-top: 5vw;
}

img {
	width: 100%;
  margin-top: 30vw;
  /*border: solid 12px white;*/
}

.frontText {
  font-size: 4vw;
  line-height: 120%;
  margin-top: 12vw;
  margin-bottom: 5vw;
}

.frontSplash {
  align-self: flex-end;
	width: 60%;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: auto;*/
}

.big {
  font-size: 130%;
  line-height: 120%;
  margin-top: 3vw;
}

.inner {
  margin: auto;
  width: 98%;
}

.small {
  font-size: 85%;
  margin-top: 2vw;
  margin-bottom: 10vw;
}
