a {color: #03c; text-decoration: none;}
a:hover {color: #0ac; text-decoration: none;}

body {
  font-size: 4vw;
}

img {
  width: 16%;
  margin-left: 0%;
}

p {
  margin-top: 5vw;
}

.copyright, .small {
  font-size: 70%;
  line-height: 200%;
}

.inner {
  margin: auto;
  width: 95%;
}
