canvas {
  background: #222;
  width: 75vw;
  height: calc(75vw * 3 / 4);
}

video {
  width: 75vw;
  height: calc(75vw * 3 / 4);
}

.parent1 {
  position: relative;
  width: 100%;
  top: -1vh;
}

.parent2 {
  top: calc(75vw * 3 / 4 + 4vh);
  position: relative;
  width: 100%;
}

#videoDiv1 {
  position: absolute;
  width: 100%;
  top: 0vh;
  left: 0vw;
  z-index: 0;
}

#canvasDiv1 {
  position: absolute;
  width: 100%;
  top: 0vh;
  left: 0vw;
  z-index: 1;
}

#videoDiv2 {
  position: absolute;
  width: 100%;
  top: 0vh;
  left: 0vw;
  z-index: 0;
}

#canvasDiv2 {
  position: absolute;
  width: 100%;
  top: 0vh;
  left: 0vw;
  z-index: 1;
}
