h3 {
  margin-bottom: 5vw;
}

p {
  font: 10vw/1.0 'ABeeZee', sans-serif;
  margin-top: 3vw;
  margin-bottom: 0vw;
}

canvas {
  background: #222;
  width: 80vw;
  height: calc(80vw * 3 / 4);
}

video {
  width: 80vw;
  height: calc(80vw * 3 / 4);
}

.inner {
  margin-top: 5vw;
}

.parent {
  margin: 10vw auto 0 auto;
  position: relative;
}

#videoDiv1 {
  position: absolute;
  width: 100%;
  top: 0vh;
  left: 0vw;
  z-index: 0;
}

#canvasDiv1 {
  position: absolute;
  width: 100%;
  top: 0vh;
  left: 0vw;
  z-index: 1;
}
