h3 {
  margin-bottom: 0vw;
}

p {
  font: 10vw/1.0 'ABeeZee', sans-serif;
  margin-top: 3vw;
  margin-bottom: 0vw;
}

.inner {
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 100%;
}
